body {
	background-color: beige;
}

.parent {
	background-color: white;
	border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.box {
	border-radius: 25px;
	place-items: center;
    /*flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
    background-color: lightgreen;
  }