body {
	background-color: papayawhip;
	display: grid;
	place-items: center;
}
 h1 {
 	margin: 10px;
 }
.menu {
	color: black;
	background-color: lightcoral;
	border-radius: 25px;
	margin-top: 40vh;
	text-decoration: none;
}

ul {
	text-decoration: none;
	color: black;
}

.pancake .sidebar {
	text-decoration: none;
	color: black;

}

a {
	text-decoration: none;
	color: peachpuff;
}

ul {
	list-style-type: none;
}